---
layout: default


---

<!-- Page Header -->
{% if page.background %}
<header class="masthead" style="background-image: url('{{ page.background | prepend: site.baseurl | replace: '//', '/' }}')">
{% else %}
<header class="masthead">
{% endif %}
  <div class="overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <div class="page-heading">
          <h1>{{ site.title }}</h1>
          {% if site.description %}
          <span class="subheading">{{ site.description }}</span>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
</header>

<div class="container">
  <h1>المنتجات</h1>
  <div class="row">
    {% for product in site.products %}
    <div class="col-6 col-sm-6 col-md-4 mb-4">
      <div class="product-item card h-100">
        <a href="{{ product.url | relative_url }}">
          {% if product.image %}
          <div class="text-center">
          <img class="card-img-top" src="{{ product.image | prepend: site.baseurl | replace: '//', '/' }}" alt="{{ product.title }}">
         </div>
          
          {% endif %}
          <div class="card-body">
            <h5 class="card-title">{{ product.title }}</h5>
            <p class="card-text">${{ product.price }}</p>
          </div>
        </a>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
